# Core dependencies
numpy>=1.26
scipy==1.11.3
matplotlib==3.8.0
meshio==5.3.4
#Cython>=3.0.0
#petsc4py==3.20.0

# Pip-installed packages
setuptools==68.2
wheel
#gmsh==4.11.1
#fenics==2019.1.0
#fenics-basix==0.6.0
pyfiglet==1.0

# FEniCS is typically not available via pip and is best installed via conda or Docker
# You may need to install it manually: https://fenicsproject.org
# fenics==2019.1.0
